.content{
    margin: 0;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    transition: .4s;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
                0px 10px 10px rgba(0, 0, 0, 0.22);

}
.content-body{
    padding-left: 20px;
    padding-right: 20px;
}
.content:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
                0px 3px 6px rgba(0, 0, 0, 0.23);
                transform: translate(0px, -8px);
}
.card-img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title{
    padding-top: 5px;
}
.update-btn{
    margin-top: 20px;
    width: 100%;
    border: 0;
    font-size: 30px;
    padding: 5px 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.update-btn:hover{
    background-color:#b4e24b;
    color: #fff;
}