.nav-custom-style{
    background-color: #73B3D4;
    padding: 20px 15px;
    color: black;
}
.brand-title{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.active-link{
    background-color: white;
    color: #1da1fa;
    text-decoration: none;
    margin-right: 0.5rem;
    padding: 5px 10px;
    border-radius: 4px;
}
.unactive-link{
    color: rgba(255, 255, 255, 0.763);
    text-decoration: none;
    margin-right: 0.5rem;
    padding: 5px 10px;
}
.active-link:hover, .unactive-link:hover{
    background-color: white;
    color: #1da1fa;
    border-radius: 4px;
}