footer{
    background-color: #111;
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.copyright{
    margin-top: 0;
    margin-bottom: 0;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    padding: 20px 0px;
}
.footer-content p {
    line-height: 28px;
    font-size: 14px;
}
.social{
    margin: 1rem 0rem 3rem 0rem;
}
.social a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-size: 1.1rem;
    transition: color .4s ease;
    font-size: 1.1rem;
}
.social a:hover{
    color: #1da1fa;
}
.footer-bottom{
    background-color: #000;
    padding: 20px 0px;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    font-weight: 200;
    text-transform: uppercase;
    opacity: .4;
}
